
/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Fredoka', sans-serif;
}

a {
    text-decoration: none;
    color: #17ccf2;
    font-size: 16px;
}

.align-center {
    text-align: center;
}


/* contenitore */

.container {
    width: 70%;
    margin: auto;
}


/* Intestazione */

header {
    margin: 50px;
}

header h1 {
    color: #e43170;
    font-size: 40px;
    
}

/* corpo principale */

    /* Grid di id cards */

    .grid {
        margin-top: 45px;
    }

    /* Righe orizzontali */

    .row {
        margin-bottom: 40px;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }


        /* Colonne */

        .col {
            float: left;
            width: calc((100%/3) - 20px);
            background-color: #0f0e17;
            box-shadow: 1px 1px 30px -10px #0f0e17 ;
        }

        .col.left {
            /* margin-right: 20px; */
        }

        .col.center {
            margin: 0px 30px;
        }

        .col.right {
            /* margin-left: 20px; */
        }

        .col img {
            float: left;
            height: 100px;
            margin-right: 10px;
        }

        .col .info {
            float: left;
            margin: 10px;
            color: #fff;
            line-height: 140%;
        }

        .col .info .job {
            font-size: 16px;
        }

/* regole DEBUG */

/* .row {
    border: solid 4px black;
    margin: 40px 0px;
} */

/* .col {
    float: left;
    width: calc((100%/3) - 20px);
    background-color: #0f0e17;
    border: solid 2px #e53170;
} */
