
/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    text-decoration: none;
    color: #17ccf2;
}

.align-center {
    text-align: center;
}


/* contenitore */

.container {
    width: 80%;
    margin: auto;
}


/* Intestazione */

header {
    margin: 40px;
}

header h1 {
    color: #e43170;
    font-size: 40px;

    
}

/* corpo principale */

    /* Grid di id cards */


    /* Righe orizzontali */

    .row {
        margin: 40px 0px;
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }


        /* Colonne */

        .col {
            float: left;
            width: calc((100%/3) - 20px);
            background-color: #0f0e17;
        }

        .col.left {
            margin-right: 20px;
        }

        .col.center {
            margin: 0px 10px;
        }

        .col.right {
            margin-left: 20px;
        }

        .col img {
            float: left;
            height: 100px;
            margin-right: 10px;
        }

        .col .info {
            float: left;
            margin: 10px;
            color: #fff;
            line-height: 170%;
        }

/* regole DEBUG */

/* .row {
    border: solid 4px black;
    margin: 40px 0px;
} */

/* .col {
    float: left;
    width: calc((100%/3) - 20px);
    background-color: #0f0e17;
    border: solid 2px #e53170;
} */
